// fonts

@font-face {
  font-family: 'BabasNeue-Regular';
  src: url('../../fonts/BebasNeue/BebasNeue-Regular.ttf');
}

@font-face {
  font-family: 'Babas-light';
  src: url('../../fonts/BebasNeue/FontsFree-Net-BebasNeue-Light.ttf');
}


@font-face {
    font-family: 'Roboto-Regular';
    src: url('../../fonts/Roboto/Roboto-Regular.ttf');
  }

  @font-face {
    font-family: 'Roboto-Condensed-Regular';
    src: url('../../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
  }

  @font-face {
    font-family: 'Light-font';
    src: url('../../fonts/light-font/TheLightFont.ttf');
  }

  @font-face {
    font-family: 'WireOne';
    src: url('../../fonts/wireOne/WireOne-Regular.ttf');
  }

  @font-face {
    font-family: 'Babas-pro';
    src: url('../../fonts/bebas_pro/Bebas\ Neue\ Pro\ Book.ttf');
  }






