@import '../../styles/setup/mixins';
@import '../../styles/setup/variables';

::ng-deep{
  .page-container{
    margin-block-start: 30px;

    .wide-screen.middle{
        padding: 0px;

    }
    .por-txt{

      &.por-txt-show{
        display: block;
      }
    }
  }

  .select-box{
    display: flex;
    padding: 0px;
    background-color: #1f1f1f;

    @include for-bpoint-tablet{
      flex-direction: column;
    }

    .select-box-item{
      background-color: #1f1f1f;
      .check-mark{
        display: none;
      }
    }

    .select-box-content.selected{
      border: none;
    }
  }

}
