@import '../../../styles/setup/mixins';
@import '../../../styles/setup/variables';

  .scrollbar {
    --scrollbar-thumb-color: #7a7a7a;
  }

  .card-inline-end{
    flex: 7;
  }

  .card-inline-start{
    flex: 5;
  }
  .asset-img{
    width: 100%;

    @include for-bpoint-tablet{
      display: flex;
      justify-content: center;

      & img{
        width: 65%;
      }
    }

  }

  .config-pic{
    display: flex;
    justify-content: end;
    width: 100%;

    img{
      width: 65%;
    }
  }

  .select-btns{
    display: flex;
    gap: 2px;
    margin-block-end: 16px;
    padding-inline-start: 11px;

    button{
      height: 33px;
      width: 33px;
      font-size: 16px;
      color: white;
      background: #1f1f1f;

      &.active{
        background-color: #00A9FF;
      }

    }
  }

  .add-button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 10px;
    margin-block-end: 10px;
  }

  .add-icon{
    display: none;
    align-items: center;
    font-size: 18px;
    background-color: #00a9ff;
    border-radius: 30px;
    font-family: Light-font, sans-serif;
    color: white;
    font-weight: 700;

    &:hover{
      color: black;
    }

    ion-icon{
      font-size: 25px;
    }

    &.m-buttom{
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-inline-end: 10px;
      margin-inline-start: 10px;
      gap: 6px;
      display: flex;

    }
    @include for-bpoint-tablet{
        span{
          display: none;
        }

        span.mobile-buttom{
          display: block;
        }
    }

    &:hover{
      background-color: white;
    }
  }


