@import '../../../styles/setup/mixins';
@import '../../../styles/setup/variables';

  .scrollbar {
    --scrollbar-thumb-color: #7a7a7a;
  }
  .asset{

    &-container{
      background-color: black;
      border-radius: 8px;
      padding: 0px 23px 44px;
      gap: 32px;
      margin-block-start: 24px;
      display: flex;
      width: 100%;

      @include for-bpoint-tablet{
        flex-direction: column;
        padding: 0px;
        gap: 0px;
        margin-block-end: 20px;
      }


    }

    &-inline-start{
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 5;
      gap: 9px;


      ion-buttons{
        align-self: baseline;
        padding-block-start: 20px;
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-inline-end: 10px;
        padding-block-start: 10px;



        .btns-section{
          display: flex;
          gap: 5px;
          margin-inline-start: 10px;
        }


      }


      @include for-bpoint-tablet{
        justify-content: center;
      }
      .asset-img{
        width: 100%;

        @include for-bpoint-tablet{
          width: 65%;
          display: flex;
          justify-content: center;
        }


      }
    }

    &-inline-end{
      flex: 7;

      ion-buttons{
        display: flex;
        justify-content: end;
        padding-block-start: 20px;
      }



      .card{
        font-family: Light-font, sans-serif;

        &-title{
          color: #9b9b9b;
          margin-block-end: 20px;
          margin-block-start: 20px;
          display: flex;
          font-family: Light-font, sans-serif;
          padding-inline-end: 10px;
            padding-inline-start: 10px;
          align-items: center;
          gap: 10px;

          &.justify-center{
            justify-content: center;
          }

          &.sub-title{
            justify-content: space-between;
            font-size: 14px;


            @include for-bpoint-tablet{
              h1{
                font-size: 20px;
              }
          }

              div{
                display: flex;
                gap: 10px;
                align-items: center;
              }
          }

          h1{
            @include for-bpoint-tablet{
                font-size: 23px;
            }
          }

        }

        &-content{
          display: flex;
          flex-direction: column;
        }

        &-row{
          color: #9b9b9b;
          border-style: solid;
          border-width: 0px 0px 1px 0px;
          border-color: #00A9FF;
          background-color: black;
          padding: 10px;
          display: flex;
          justify-content: space-between;
          font-size: 20px;
          color: #9b9b9b;
          align-items: center;
          gap: 10px;


          h3{
            @include for-bpoint-tablet{
                font-size: 22px;
            }
          }

          &-img{
            width: 80px;

              @include for-bpoint-tablet{
                  width: 60px;
              }
          }

        }
      }
    }
  }

  .select-btns{
    display: flex;
    gap: 2px;
    margin-block-end: 16px;
    padding-inline-start: 11px;

    button{
      height: 33px;
      width: 33px;
      font-size: 16px;
      color: white;
      background: #1f1f1f;

      &.active{
        background-color: #00A9FF;
      }

    }
  }

  ion-icon{
    cursor: pointer;

    &.arrow-down, &.color-palette{
      font-size: 20px;
    }

    &.arrow-down{
      transition:.5s ease-in-out;

      &.icon-spins{
        rotate: 180deg;
      }
    }
  }

  .enviorments-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(97px, 100px));
    justify-items: center;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    gap: 10px;
    margin-block-end: 20px;
    .enviorment-link{
      width: auto;
      cursor: pointer;
      padding: 6px;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      height: fit-content;

      img{
        border-radius: 50%;
        height: 70px;
        width: 70px;

        &:hover, &.selected{
          outline: 2px solid #9b9b9b;
          outline-offset: 4px;
        }
      }

      .title{
        text-align: center;
        font-family: Light-font, sans-serif;
        color: #9b9b9b;
      }


    }

  }

  .add-button-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 10px;
    margin-block-end: 10px;
  }

  .add-icon{
    display: none;
    align-items: center;
    font-size: 18px;
    background-color: #00a9ff;
    border-radius: 30px;
    font-family: Light-font, sans-serif;
    color: white;
    font-weight: 700;

    &:hover{
      color: black;
    }



    ion-icon{
      font-size: 25px;
    }

    // &.mobile{
    //   display: none;
    // }

    // &.wide-screen{
    //   display: flex;
    // }

    &.m-buttom{
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-inline-end: 10px;
      margin-inline-start: 10px;
      gap: 6px;
      display: flex;

    }
    @include for-bpoint-tablet{


        span{
          display: none;
        }

        span.mobile-buttom{
          display: block;

        }

      // &.mobile{
      //   display: flex;
      // }


      // &.wide-screen{
      //   display: none;
      // }

    }

    &:hover{
      background-color: white;
    }
  }


