<ion-header>
</ion-header>
<ion-content>
  <ng-scrollbar class="scrollbar">
  <div class="main-layout">
    <div class="page-container">
      <div class="top">
        <div class="btns-section">
          <button (click)="onBack()" class="icon-btn"><ion-icon name="arrow-back-outline"></ion-icon></button>
          <div>
            <button class="icon-btn" [ngClass]="{'active': measureType === MeasureType.METERS}" (click)="onSelectBtn(1)">M</button>
            <button class="icon-btn" [ngClass]="{'active': measureType === MeasureType.FEET}"(click)="onSelectBtn(2)">FT</button>
          </div>
        </div>
        <div class="title">
          <span>ULCANS Configuration</span>
          <span>Based On Your Asset Measurements</span>
        </div>
      </div>
      <div class="cards-container">
        <div class="card">
          <div class="card-content">
            <div class="card-top">
              <div class="card-title">
                ULCANS Configuration Type: {{configuration.name | uppercase}}
              </div>
              <div class="card-img">
                <img [src]="configuration.imgUrlForPdf" alt="asset-pic">
              </div>
            </div>
            <div class="card-body">
              <div class="card-row">
                <span>Area SQ:</span>
                <span>{{configuration.measures.areaSqFt | sqftToSqm: measureType | number : '1.0-0'}} {{measureType === MeasureType.METERS ? 'SQM': 'SQFT'}}</span>
              </div>
              <div class="card-row">
                <span>Hexagon:</span>
                <span>{{configuration.hexagon}}</span>
              </div>
              <div class="card-row">
                <span>Rhombus:</span>
                <span>{{configuration.rhombus}}</span>
              </div>
              <div class="card-row">
                <span>Pins:</span>
                <span>{{configuration.pins}}</span>
              </div>
              <div class="card-row">
                <span>Poles:</span>
                <span>{{configuration.poles}}</span>
              </div>
            </div>
          </div>
        </div>
          <div class="card">
            <div class="card-content">
              <div class="card-top">
                <div class="card-title">
                  {{asset.name | uppercase}}
                </div>
                <div class="card-img" *ngIf="asset.assetImgUrl !== 'assets/imgs/hexagon-bg/asset-bg.png'">
                  <img [src]="asset.assetImgUrl" alt="asset-pic">
                </div>
              </div>
              <div class="card-body">
                <div class="card-row">
                  <span>Width:</span>
                  <span>{{asset.measures.widthFt | ftToM: measureType | number: '1.1-3'}} {{measureType === MeasureType.METERS ? 'M': 'FT'}}</span>
                </div>
                <div class="card-row">
                  <span>Height:</span>
                  <span>{{asset.measures.heightFt | ftToM: measureType | number: '1.1-3'}} {{measureType === MeasureType.METERS ? 'M': 'FT'}}</span>
                </div>
                <div class="card-row">
                  <span>Length:</span>
                  <span>{{asset.measures.lengthFt | ftToM: measureType | number: '1.1-3'}} {{measureType === MeasureType.METERS ? 'M': 'FT'}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</ng-scrollbar>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer-container main-layout">
      <div class="next-button-wrapper">
        <button  (click)="onChooseYourEnvironment()" class="regular-btn"><span class="mobile-buttom">{{'continue to choose your environment and type' | uppercase}}</span><ion-icon name="arrow-forward-outline"></ion-icon></button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>





