<ion-header>
</ion-header>
<ion-content>
  <ng-scrollbar class="scrollbar">
  <div class="main-layout">
    <div class="page-container">
      <div class="top">
        <div class="btns-section">
          <button (click)="onBack()" class="icon-btn"><ion-icon name="arrow-back-outline"></ion-icon></button>
        </div>
        <div class="title">
          <span>Calculate Your ULCANS Configuration</span>
          <span>Using Your Asset Measurments</span>
        </div>
      </div>
      <div class="cards-container">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <form [formGroup]="calculatorForm">
                <div class="card-row">
                  <span>Meters Or Feet:</span>
                  <span class="selection-btns">
                    <button class="icon-btn" [ngClass]="{'active': measureType === MeasureType.METERS}" (click)="onSelectBtn(1)">M</button>
                    <button class="icon-btn" [ngClass]="{'active': measureType === MeasureType.FEET}"(click)="onSelectBtn(2)">FT</button>
                  </span>
                </div>
                <div class="card-row">
                  <span>Your Asset Name:</span>
                  <span>
                    <ion-input formControlName="assetName"></ion-input>
                  </span>
                </div>
                <div formGroupName="calculatorFormValue">
                  <div class="card-row calc-input">
                    <span>Its Length:</span>
                    <span>
                      <ion-input type="number" formControlName="length"></ion-input>
                    </span>
                  </div>
                  <div class="card-row">
                    <span>Its Width:</span>
                    <span>
                      <ion-input type="number" formControlName="width"></ion-input>
                    </span>
                  </div>
                  <div class="card-row">
                    <span>Its Height:</span>
                    <span>
                      <ion-input type="number" formControlName="height"></ion-input>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</ng-scrollbar>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer-container main-layout">
      <div class="next-button-wrapper">
        <button [ngClass]="{'disabled': calculatorForm.invalid || calculatorForm.pristine}"  type="submit" [formGroup]="calculatorForm" (click)="onCalculate()" class="regular-btn"><span>{{'calculate' | uppercase}}</span><ion-icon name="arrow-forward-outline"></ion-icon></button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>



