@import '../../styles/setup/mixins';
@import '../../styles/setup/variables';

ion-input{
  background-color: #1f1f1f;
}

.scrollbar {
  --scrollbar-thumb-color: #7a7a7a;
}


.selection-btns{
  display: flex;
  justify-content: center;
}

.card{
  background-color: #0000008a;
  margin-block-end: 0px;


  .calc-input{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #00A9FF;
  }

  &-row{
    span{
      width: 40%;
      display: flex;
    }
  }
}

.next-button-wrapper{
  padding: 20px;
}





