@import '../../styles/setup/mixins';
@import '../../styles/setup/variables';

ion-input{
  background-color: #1f1f1f;
}

.card{
  background-color: black;

  .calc-input{
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #00A9FF;
  }

  &-row{
    span{
      width: 40%;
      display: flex;
    }
  }
}




