.erect{
  &-container{
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  &-top{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-block-start: 20px;
    font-family: Light-font, sans-serif;
  }
}


.card{
  background-color: #3f3f3f;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    &-header{
      font-family: Light-font, sans-serif;
  }

  &-title{
    font-size: 26px;
    text-align: center;
    padding-block-start: 10px;
  }

}




