<ion-header></ion-header>
<ion-content>
  <div class="page-container main-layout">
    <div class="top">
      <div class="title">
        <span>{{ "user selections list" | uppercase }}</span>
      </div>
    </div>
    <ng-scrollbar class="scrollbar" [autoHeightDisabled]="false">
      <div class="body">
        <div class="massege" *ngIf="!areThereAssetsToDisplay">
          No Items In List yet
        </div>

        <!-- Table For Wide Screens -->
        <div *ngIf="areThereAssetsToDisplay">
          <div class="wide-screen">
            <div
              *ngFor="let userSelection of assetsForDisplay; let i = index"
              class="middle"
            >
              <h1>ULCANS Prefrences for {{ userSelection.asset!.name }}</h1>
                <app-accordion [initialOpenIndex]="userSelection.initialIndexes" (accordionItemClicked)="onAccordionItem($event, userSelection.id, userSelection.initialIndexes)">
                  <app-accordion-item>
                    <div accordionItemHeader class="accordion-header">
                      {{ wideScreenTitles[0].mainTitle }}
                      <button *ngIf="!userSelection.asset!.isInList" class="icon-btn edit-btn" [ngClass]="{'disabled': isDisabled}" (click)="onEditAsset(userSelection.asset!.id, $event, userSelection.asset!.isInList, userSelection!.id )"><ion-icon name="create-outline"></ion-icon></button>
                    </div>
                    <div accordionItemBody class="accordion-body">
                      <div class="table-container">
                      <table class="styled-table style1">
                        <thead>
                          <tr>
                            <th
                              *ngFor="
                                let tableTitle of wideScreenTitles[0]
                                  .tableTitles
                              "
                            >
                              {{ tableTitle }}
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              {{ userSelection.asset!.name }}
                            </td>
                            <td>
                              {{
                                userSelection.asset!.measures.lengthFt
                                  | ftToM : userSelection.asset!.initialMeasureType
                                  | number : "1.1-1"
                              }}
                              {{
                                userSelection.asset!.initialMeasureType === MeasureType.METERS
                                  ? "M"
                                  : "FT"
                              }}
                            </td>
                            <td>
                              {{
                                userSelection.asset!.measures.widthFt
                                  | ftToM : userSelection.asset!.initialMeasureType
                                  | number : "1.1-1"
                              }}
                              {{
                                userSelection.asset!.initialMeasureType === MeasureType.METERS
                                  ? "M"
                                  : "FT"
                              }}
                            </td>
                            <td>
                              {{
                                userSelection.asset!.measures.heightFt
                                  | ftToM : userSelection.asset!.initialMeasureType
                                  | number : "1.1-1"
                              }}
                              {{
                                userSelection.asset!.initialMeasureType === MeasureType.METERS
                                  ? "M"
                                  : "FT"
                              }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    </div>
                  </app-accordion-item>
                  <app-accordion-item>
                    <div accordionItemHeader class="accordion-header">
                      <h1>{{ wideScreenTitles[1].mainTitle }}</h1>
                    </div>
                    <div accordionItemBody class="accordion-body">
                      <div class="table-container">
                      <span *ngIf="!userSelection.configuratoin" class="note"
                        >The size of your asset requires a custom configuration.
                        Please contact us for more information.
                      </span>
                      <div  *ngIf="userSelection.configuratoin">
                        <table
                          class="styled-table style1"
                        >
                          <thead>
                            <tr>
                              <th
                                *ngFor="
                                  let tableTitle of wideScreenTitles[1]
                                    .tableTitles
                                "
                              >
                                {{ tableTitle }}
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="td-img">
                                <div class="table-img">
                                  <img
                                    [src]="userSelection.configuratoin!.imgUrl"
                                    alt="configuration-pic"
                                  />
                                </div>
                                {{ userSelection.configuratoin!.name }}
                              </td>
                              <td>
                                {{ userSelection.configuratoin!.hexagon}}
                              </td>
                              <td>
                                {{ userSelection.configuratoin!.rhombus}}
                              </td>
                              <td>
                                {{
                                  userSelection.configuratoin!.measures.widthFt
                                    | sqftToSqm : userSelection.asset!.initialMeasureType
                                    | number : "1.1-1"
                                }}
                                {{
                                  userSelection.asset!.initialMeasureType === MeasureType.METERS
                                    ? "M"
                                    : "FT"
                                }}
                              </td>
                              <td>
                                {{
                                  userSelection.configuratoin!.measures.lengthFt
                                    | sqftToSqm : userSelection.asset!.initialMeasureType
                                    | number : "1.1-1"
                                }}
                                {{
                                  userSelection.asset!.initialMeasureType === MeasureType.METERS
                                    ? "M"
                                    : "FT"
                                }}
                              </td>
                              <td>
                                {{
                                  userSelection.configuratoin!.measures.areaSqFt
                                    | sqftToSqm : userSelection.asset!.initialMeasureType
                                    | number : "1.0-0"
                                }}
                                {{
                                  userSelection.asset!.initialMeasureType === MeasureType.METERS
                                    ? "SQM"
                                    : "SQFT"
                                }}
                              </td>
                              <td>
                                <span *ngIf="userSelection.areSpecialPoles"
                                  >*</span>
                                {{ userSelection.configuratoin!.poles }}
                              </td>
                              <td>
                                {{ userSelection.configuratoin!.pins }}
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <div

                          *ngIf="
                            userSelection.areSpecialPoles
                          "
                        >
                          <span class="poles-note">
                            * Special poles require
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  </app-accordion-item>
                  <app-accordion-item>
                    <div accordionItemHeader class="accordion-header">
                      {{ wideScreenTitles[2].mainTitle }}
                      <button class="icon-btn edit-btn" [ngClass]="{'disabled': isDisabled}" (click)="onEditPatterns($event, userSelection!.id )"><ion-icon name="create-outline"></ion-icon></button>
                    </div>
                    <div accordionItemBody class="accordion-body">
                      <div class="table-container">
                      <table class="styled-table style1">
                        <thead>
                          <tr>
                            <th
                              *ngFor="
                                let tableTitle of wideScreenTitles[2]
                                  .tableTitles
                              "
                            >
                              {{ tableTitle }}
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              {{ userSelection.sideA.environment.typeName }}
                            </td>
                            <td class="td-img">
                              <div class="table-img">
                                <img
                                  [src]="
                                    userSelection.sideA.environment.clothPatterns[
                                      userSelection.sideA.indexForPatternUrl
                                    ].shapeHighResolutionUrl
                                  "
                                  alt="sidaA-pic"
                                />
                              </div>
                              <ng-container
                              ></ng-container>
                              <span *ngIf="appConfigSettings === AppConfigSettings.GLOBAL">
                                {{userSelection.sideA.environment.clothPatterns[
                                  userSelection.sideA.indexForPatternUrl
                                ].nameGl}}
                              </span>
                              <span *ngIf="appConfigSettings === AppConfigSettings.USA">
                                {{userSelection.sideA.environment.clothPatterns[
                                  userSelection.sideA.indexForPatternUrl
                                ].nameUs}}
                                </span>
                            </td>
                            <td>
                              {{ userSelection.sideB.environment.typeName }}
                            </td>
                            <td class="td-img">
                              <div class="table-img">
                                <img
                                  [src]="
                                    userSelection.sideB.environment.clothPatterns[
                                      userSelection.sideB.indexForPatternUrl
                                    ].shapeHighResolutionUrl
                                  "
                                  alt="sideB-pic"
                                />
                              </div>
                              <span *ngIf="appConfigSettings === AppConfigSettings.GLOBAL">
                                {{userSelection.sideB.environment.clothPatterns[
                                  userSelection.sideB.indexForPatternUrl
                                ].nameGl}}
                              </span>
                              <span *ngIf="appConfigSettings === AppConfigSettings.USA">
                                {{userSelection.sideB.environment.clothPatterns[
                                  userSelection.sideB.indexForPatternUrl
                                ].nameUs}}
                              </span>
                            </td>
                            <td>
                              {{ userSelection.ulcansType.name }}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  </app-accordion-item>
                </app-accordion>
              <div class="selection-btns">
                <button
                  (click)="onDeleteSelection(userSelection.id)"
                  class="icon-btn"
                >
                  <ion-icon name="trash-outline"></ion-icon>
                </button>
                <button (click)="onDownloadPdf(i)" class="icon-btn">
                  <ion-icon name="download-outline"></ion-icon>
                </button>
              </div>
            </div>

            <!-- Cards For Mobile Screens -->

            <div class="cards-container mobile">
              <div
                *ngFor="let userSelection of assetsForDisplay; let i = index"
                class="card"
              >
                <div class="card-top">
                  <div class="card-title">
                    ULCANS Prefrences for {{ userSelection.asset!.name }}
                  </div>
                </div>
                <div class="card-body">
                  <app-accordion [initialOpenIndex]="userSelection.initialIndexes" (accordionItemClicked)="onAccordionItem($event, userSelection.id,  userSelection.initialIndexes)">
                    <app-accordion-item>
                      <div accordionItemHeader class="accordion-header">
                        Asset
                        <button *ngIf="!userSelection.asset!.isInList" class="icon-btn edit-btn" [ngClass]="{'disabled': isDisabled}" (click)="onEditAsset(userSelection.asset!.id, $event,userSelection.asset!.isInList, userSelection!.id )"><ion-icon name="create-outline"></ion-icon></button>
                      </div>
                      <div accordionItemBody class="accordion-body">
                        <div class="card-row">
                          <span class="card-row_title">{{
                            tableHeaderTitles[0]
                          }}</span>
                          <span class="card-row_content mobile">
                            {{ userSelection.asset!.name }}
                          </span>
                        </div>
                        <div class="card-row">
                          <span class="card-row_title">{{
                            tableHeaderTitles[3]
                          }}</span>
                          <span class="card-row_content mobile">
                            {{
                              userSelection.asset!.measures.lengthFt
                                | ftToM : userSelection.asset!.initialMeasureType
                                | number : "1.1-1"
                            }}
                            {{
                              userSelection.asset!.initialMeasureType === MeasureType.METERS
                                ? "M"
                                : "FT"
                            }}
                          </span>
                        </div>
                        <div class="card-row">
                          <span class="card-row_title">{{
                            tableHeaderTitles[1]
                          }}</span>
                          <span class="card-row_content mobile">
                            {{
                              userSelection.asset!.measures.widthFt
                                | ftToM : userSelection.asset!.initialMeasureType
                                | number : "1.1-1"
                            }}
                            {{
                              userSelection.asset!.initialMeasureType === MeasureType.METERS
                                ? "M"
                                : "FT"
                            }}
                          </span>
                        </div>
                        <div class="card-row">
                          <span class="card-row_title">{{
                            tableHeaderTitles[2]
                          }}</span>
                          <span class="card-row_content mobile">
                            {{
                              userSelection.asset!.measures.heightFt
                                | ftToM : userSelection.asset!.initialMeasureType
                                | number : "1.1-1"
                            }}
                            {{
                              userSelection.asset!.initialMeasureType === MeasureType.METERS
                                ? "M"
                                : "FT"
                            }}
                          </span>
                        </div>
                      </div>
                    </app-accordion-item>
                    <app-accordion-item>
                      <div accordionItemHeader class="accordion-header">
                        Configuration
                      </div>
                      <div accordionItemBody class="accordion-body">
                        <div
                          *ngIf="!userSelection.configuratoin"
                          class="card-row"
                        >
                          <div class="card-row_title">
                            The size of your asset requires a custom
                            configuration. Please contact us for more information.
                          </div>
                        </div>
                        <div *ngIf="userSelection.configuratoin">
                          <div class="card-row">
                            <span class="card-row_title">{{
                              tableHeaderTitles[4]
                            }}</span>
                            <span class="card-row_content mobile">
                              {{ userSelection.configuratoin!.name }}
                              <div class="card-img">
                                <img
                                  [src]="userSelection.configuratoin!.imgUrl"
                                  alt=""
                                />
                              </div>
                            </span>
                          </div>
                          <div class="card-row">
                            <span class="card-row_title">{{
                              tableHeaderTitles[5]
                            }}</span>
                            <span class="card-row_content mobile">
                              {{
                                userSelection.configuratoin!.hexagon
                              }}
                            </span>
                          </div>
                          <div class="card-row">
                            <span class="card-row_title">{{
                              tableHeaderTitles[6]
                            }}</span>
                            <span class="card-row_content mobile">
                              {{
                                userSelection.configuratoin!.rhombus
                              }}
                            </span>
                          </div>
                          <div class="card-row">
                            <span class="card-row_title">{{
                              tableHeaderTitles[7]
                            }}</span>
                            <span class="card-row_content mobile">
                              {{
                                userSelection.configuratoin!.measures.widthFt
                                  | sqftToSqm : userSelection.asset!.initialMeasureType
                                  | number : "1.1-1"
                              }}
                              {{
                                userSelection.asset!.initialMeasureType === MeasureType.METERS
                                  ? "M"
                                  : "FT"
                              }}
                            </span>
                          </div>
                          <div class="card-row">
                            <span class="card-row_title">{{
                              tableHeaderTitles[8]
                            }}</span>
                            <span class="card-row_content mobile">
                              {{
                                userSelection.configuratoin!.measures.lengthFt
                                  | sqftToSqm : userSelection.asset!.initialMeasureType
                                  | number : "1.1-1"
                              }}
                              {{
                                userSelection.asset!.initialMeasureType === MeasureType.METERS
                                  ? "M"
                                  : "FT"
                              }}
                            </span>
                          </div>
                          <div class="card-row">
                            <span class="card-row_title">{{
                              tableHeaderTitles[9]
                            }}</span>
                            <span class="card-row_content mobile">
                              {{
                                userSelection.configuratoin!.measures.areaSqFt
                                  | sqftToSqm : userSelection.asset!.initialMeasureType
                                  | number : "1.0-0"
                              }}
                              {{
                                userSelection.asset!.initialMeasureType === MeasureType.METERS
                                  ? "SQM"
                                  : "SQFT"
                              }}
                            </span>
                          </div>
                          <div class="card-row">
                            <span class="card-row_title">
                              {{ tableHeaderTitles[10] }}
                            </span>
                            <span class="card-row_content mobile">
                              <span *ngIf="userSelection.areSpecialPoles"
                                >*</span>
                              {{ userSelection.configuratoin!.poles }}
                            </span>
                          </div>
                          <div class="card-row">
                            <span class="card-row_title">{{
                              tableHeaderTitles[11]
                            }}</span>
                            <span class="card-row_content mobile">
                              {{ userSelection.configuratoin!.pins }}
                            </span>
                          </div>
                          <div
                            class="note-txt"
                            *ngIf="
                              userSelection.areSpecialPoles
                            "
                          >
                            * Special poles require
                          </div>
                        </div>
                      </div>
                    </app-accordion-item>
                    <app-accordion-item>
                      <div accordionItemHeader class="accordion-header">
                        Patterns
                        <button class="icon-btn edit-btn" [ngClass]="{'disabled': isDisabled}" (click)="onEditPatterns($event, userSelection!.id )"><ion-icon name="create-outline"></ion-icon></button>
                      </div>
                      <div accordionItemBody class="accordion-body">
                        <div class="card-row">
                          <span class="card-row_title">{{
                            tableHeaderTitles[12]
                          }} / {{ userSelection.sideA.environment.typeName }}</span>
                          <span class="card-row_content mobile">

                            <span *ngIf="appConfigSettings === AppConfigSettings.GLOBAL">
                              {{userSelection.sideA.environment.clothPatterns[
                                userSelection.sideA.indexForPatternUrl
                              ].nameGl}}
                            </span>
                            <span *ngIf="appConfigSettings === AppConfigSettings.USA">
                              {{userSelection.sideA.environment.clothPatterns[
                                userSelection.sideA.indexForPatternUrl
                              ].nameUs}}
                            </span>
                            <div class="card-img">
                              <img
                                [src]="
                                  userSelection.sideA.environment.clothPatterns[
                                    userSelection.sideA.indexForPatternUrl
                                  ].shapeHighResolutionUrl
                                "
                                alt=""
                              />
                            </div>
                          </span>
                        </div>
                        <div class="card-row">
                          <span class="card-row_title">{{
                            tableHeaderTitles[13]
                          }} / {{ userSelection.sideB.environment.typeName }} </span>
                          <span class="card-row_content mobile">

                            <span *ngIf="appConfigSettings === AppConfigSettings.GLOBAL">
                              {{userSelection.sideB.environment.clothPatterns[
                                userSelection.sideB.indexForPatternUrl
                              ].nameGl}}
                            </span>
                            <span *ngIf="appConfigSettings === AppConfigSettings.USA">
                              {{userSelection.sideB.environment.clothPatterns[
                                userSelection.sideB.indexForPatternUrl
                              ].nameUs}}
                            </span>
                            <div class="card-img">
                              <img
                                [src]="
                                  userSelection.sideB.environment.clothPatterns[
                                    userSelection.sideB.indexForPatternUrl
                                  ].shapeHighResolutionUrl
                                "
                                alt=""
                              />
                            </div>
                          </span>
                        </div>
                        <div class="card-row">
                          <span class="card-row_title">{{
                            tableHeaderTitles[14]
                          }}</span>
                          <span class="card-row_content mobile">
                            {{ userSelection.ulcansType.name }}
                          </span>
                        </div>
                      </div>
                    </app-accordion-item>
                  </app-accordion>
                </div>
                <div class="card-buttom">
                  <div class="selection-btns">
                    <button
                      (click)="onDeleteSelection(userSelection.id)"
                      class="icon-btn"
                    >
                      <ion-icon name="trash-outline"></ion-icon>
                    </button>
                    <button (click)="onDownloadPdf(i)" class="icon-btn">
                      <ion-icon name="download-outline"></ion-icon>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-scrollbar>

    <div class="bottom">
      <div class="next-button-wrapper">
        <button (click)="onToCategoryIntro('MC2')" class="regular-btn">
          <span>How to camouflage?</span>
        </button>
        <button (click)="onToCategoryIntro('MC3')" class="regular-btn">
          <span>About the equipment</span>
        </button>
      </div>
      <p class="bottom-txt">
        Note that your preferences are from an initial list, please reach out
        with your PDF of selections for more options and details.
      </p>
    </div>
  </div>



  <!-- Tables For Pdf -->
  <div
    *ngIf="assetsForDisplay[indexForTablePdf]"
    class="tables-container"
    hidden
  >

  <!-- Logo -->

    <table class="logo-table">
      <tbody>
        <tr class="row logo-table">
          <td id="logo">
            <img src="assets/imgs/logo/logo.jpeg" alt="logo" />
          </td>
        </tr>
      </tbody>
    </table>

  <!-- Dante and Link -->

    <table class="date-link-table">
      <tbody>
        <tr>
          <td style="font-size: 14px; color: black;">
            {{date}}
          </td>
        </tr>
        <tr>
          <td style="color: blue; text-decoration: underline; font-size: 12px;" id="link">
            <a *ngIf="appConfigSettings === AppConfigSettings.GLOBAL" href="https://fibrotex-tech.com/">fibrotex-tech.com</a>
            <a *ngIf="appConfigSettings === AppConfigSettings.USA" href="https://fibrotexusa.com/">fibrotexusa.com</a>
          </td>
        </tr>
      </tbody>
    </table>

   <!-- Title -->

    <table class="title-table">
      <tbody>
        <tr>
          <td style="font-size: 16px; color: black; text-align: center;">
            ULCANS Preferences For {{assetsForDisplay[indexForTablePdf].asset!.name}}
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Asset -->

    <table class="asset-table">
      <thead>
        <tr class="row header blue">
          <th *ngFor="let assetTitle of assetTitles">
            {{ assetTitle }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="row">
          <td>
            {{ assetsForDisplay[indexForTablePdf].asset!.name }}
          </td>
          <td>
            {{
              assetsForDisplay[indexForTablePdf].asset!.measures.lengthFt
                | ftToM : assetsForDisplay[indexForTablePdf].asset!.initialMeasureType
                | number : "1.1-1"
            }}
            {{
              assetsForDisplay[indexForTablePdf].asset!.initialMeasureType === MeasureType.METERS
                ? "M"
                : "FT"
            }}
          </td>
          <td>
            {{ assetsForDisplay[indexForTablePdf].asset!.measures.widthFt
              | ftToM : assetsForDisplay[indexForTablePdf].asset!.initialMeasureType
              | number : "1.1-1"
            }}
            {{
              assetsForDisplay[indexForTablePdf].asset!.initialMeasureType === MeasureType.METERS
                  ? "M"
                  : "FT"
            }}

          </td>
          <td>
            {{
              assetsForDisplay[indexForTablePdf].asset!.measures.heightFt
                | ftToM : assetsForDisplay[indexForTablePdf].asset!.initialMeasureType
                | number : "1.1-1"
            }}
            {{
              assetsForDisplay[indexForTablePdf].asset!.initialMeasureType === MeasureType.METERS
                ? "M"
                : "FT"
            }}
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Configuration -->

    <table *ngIf="assetsForDisplay[indexForTablePdf].configuratoin" class="config-table">
      <thead>
        <tr class="row header blue">
          <th *ngFor="let configTitle of configurationTitles">
            {{ configTitle }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="row">
          <td id="imgEl">
            <img
              [src]="
                assetsForDisplay[indexForTablePdf].configuratoin!.imgUrlForPdf
              "
              alt=""
            />
          </td>
          <td>
            {{ assetsForDisplay[indexForTablePdf].configuratoin!.name }}
          </td>
          <td>
            {{ assetsForDisplay[indexForTablePdf].configuratoin!.hexagon}}
          </td>
          <td>
            {{ assetsForDisplay[indexForTablePdf].configuratoin!.rhombus}}
          </td>
          <td>
            {{
              assetsForDisplay[indexForTablePdf].configuratoin!.measures
                .widthFt
                | ftToM : assetsForDisplay[indexForTablePdf].asset!.initialMeasureType
                | number : "1.1-2"
            }}
            {{
              assetsForDisplay[indexForTablePdf].asset!.initialMeasureType ===
              MeasureType.METERS
                ? "M"
                : "FT"
            }}

          </td>
          <td>
            {{
              assetsForDisplay[indexForTablePdf].configuratoin!.measures
                .lengthFt
                | ftToM : assetsForDisplay[indexForTablePdf].asset!.initialMeasureType
                | number : "1.1-2"
            }}
            {{
              assetsForDisplay[indexForTablePdf].asset!.initialMeasureType ===
              MeasureType.METERS
                ? "M"
                : "FT"
            }}
          </td>
          <td>
            {{
              assetsForDisplay[indexForTablePdf].configuratoin!.measures
                .areaSqFt
                | sqftToSqm : assetsForDisplay[indexForTablePdf].asset!.initialMeasureType
                | number : "1.0-0"
            }}
            {{
              assetsForDisplay[indexForTablePdf].asset!.initialMeasureType ===
              MeasureType.METERS
                ? "SQM"
                : "SQFT"
            }}
          </td>
          <td>
             <h5 *ngIf="assetsForDisplay[indexForTablePdf].areSpecialPoles">*</h5>
            {{ assetsForDisplay[indexForTablePdf].configuratoin!.poles }}
          </td>
          <td>
            {{ assetsForDisplay[indexForTablePdf].configuratoin!.pins }}
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Patterns -->

      <table class="patterns-table">
      <thead>
        <tr class="row header blue">
          <th *ngFor="let patternTitle of patternsTitles">
            {{ patternTitle }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="row">
          <td>
            {{ assetsForDisplay[indexForTablePdf].sideA.environment.typeName }}
          </td>
          <td id="imgEl">
            <img
              [src]="
                assetsForDisplay[indexForTablePdf].sideA.environment.clothPatterns[
                assetsForDisplay[indexForTablePdf].sideA.indexForPatternUrl
              ].shapeLowResolutionUrl
              "
              alt=""
            />
          </td>
          <td>
            <span *ngIf="appConfigSettings === AppConfigSettings.GLOBAL">
              {{assetsForDisplay[indexForTablePdf].sideA.environment.clothPatterns[
                assetsForDisplay[indexForTablePdf].sideA.indexForPatternUrl
              ].nameGl}}
              </span>
            <span *ngIf="appConfigSettings === AppConfigSettings.USA">
              {{assetsForDisplay[indexForTablePdf].sideA.environment.clothPatterns[
                assetsForDisplay[indexForTablePdf].sideA.indexForPatternUrl
              ].nameUs}}
              </span>
          </td>
          <td>
            {{ assetsForDisplay[indexForTablePdf].sideB.environment.typeName }}
          </td>
          <td id="imgEl">
            <img
              [src]="
                assetsForDisplay[indexForTablePdf].sideB.environment.clothPatterns[
                assetsForDisplay[indexForTablePdf].sideB.indexForPatternUrl
              ].shapeLowResolutionUrl
              "
              alt=""
            />
          </td>
          <td>
            <span *ngIf="appConfigSettings === AppConfigSettings.GLOBAL">
              {{assetsForDisplay[indexForTablePdf].sideB.environment.clothPatterns[
                assetsForDisplay[indexForTablePdf].sideB.indexForPatternUrl
              ].nameGl}}
              </span>
            <span *ngIf="appConfigSettings === AppConfigSettings.USA">
              {{assetsForDisplay[indexForTablePdf].sideB.environment.clothPatterns[
                assetsForDisplay[indexForTablePdf].sideB.indexForPatternUrl
              ].nameUs}}
              </span>
          </td>
          <td>
            {{ assetsForDisplay[indexForTablePdf].ulcansType.name }}
          </td>
        </tr>
      </tbody>
    </table>

        <!-- marketing email -->

        <table class="marketing-table">
          <tbody>
            <tr>
              <td style="font-size: 14px; color: black;">
                To discuss your ULCANS preferences further,
              </td>
              <td></td>
            </tr>
            <tr>
              <td style="font-size: 14px; color: black; width: fit-content;">
                Please contact our marketing team and share the PDF at
              </td>
              <td style="font-size: 14px; color: blue; text-align: left;">
                <span *ngIf="appConfigSettings === AppConfigSettings.GLOBAL">
                  marketing@fibrotex-tech.com.
                </span>
                <span *ngIf="appConfigSettings === AppConfigSettings.USA">
                  bizdev@fibrotexusa.com.
                </span>
             </td>
            <tr>
              <td style="font-size: 14px; color: black;">
                Thank you!
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
  </div>
</ion-content>

