@import '../../../styles/setup/mixins';
@import '../../../styles/setup/variables';

.scrollbar {
  --scrollbar-thumb-color: #7a7a7a;
}

.page-container{
  overflow: hidden;
  position: relative;

  .top{
    margin-block-start: 20px;
  }

  .body{
    margin-block-start: 20px;
    height: calc(100vh - 215px);
    .massege{
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Babas-pro';
      font-size: 25px;
    }
  }
  .bottom{
    position: fixed;
    bottom: 0;
    left: 0;
  }
}


.cards-container{
  &.wide-screen{
    flex-direction: column;
    width: 98%;
    border-radius: 6px;
    gap: 0px;

    @include for-bpoint-tablet{
      display: none;
    }
  }

  &.mobile{
    display: none;

    @include for-bpoint-tablet{
      display: block;
    }
  }
  justify-content: center;


  .card{
    width: 100%;
    background-color: #2e2e2e;
    flex-direction: column;
    padding: 10px;
    display: block;

    &.wide-screen{
      width: 100%;
      border-block-end: 1px solid white;
      border-radius: 0px;


      &:first-child{
        border-radius: 6px 6px 0px 0px;
      }

      &:last-child{
        border-radius: 0px 0px 6px 6px;
        border: none;
      }

    }

    &-body{
      &.wide-screen{
        grid-template-columns: repeat(6, 1fr);
        display: grid;

        .row-wide-screen{
          display: flex;
          width: 100%;
          justify-content: center;
        }
      }
    }

    &-row{
      border-color: #ffffff;
      padding-block-start: 3px;
      padding-block-end: 3px;

      &_title{
        font-size: 20px;
        font-weight: 800;
        &.wide-screen{
          text-align: center;
        }
      }

      &_content{
        display: flex;
        align-items: center;
        gap: 7px;
        font-size: 20px;
        &.mobile{
          width: 112px;
        }

        &.wide-screen{
          flex-direction: column;
          justify-content: center;
          text-align: center;
          height: 100%;
        }
      }
    }

    &-img{
      height: 50px;
      display: flex;
      justify-content: end;

      &.wide-screen{
        height: 70px;
      }
    }

    &-top{
      align-items: end;
    }
  }
}

.icon-btn{
  background-color: transparent;
}
