@import '../../../styles/setup/mixins';
@import '../../../styles/setup/variables';

.scrollbar {
  --scrollbar-thumb-color: #7a7a7a;
}

.page-container{
  height: 100%;

  .middle{
    h1{
      font-size: 18px;
    }
  }

  .table-container{


    .td-img{
      align-items: center;
      gap: 10px;
    }
  }

  .top{
    margin-block-start: 20px;
  }

  .body{
    margin-block-start: 20px;
    height: calc(100vh - 215px);

  }

}



.cards-container{


  .card{
    width: 100%;
    background-color: #2e2e2e;
    flex-direction: column;
    padding: 10px;
    display: block;
    margin-block-end: 10px;

    &-top{
      margin-block-end: 10px;
    }

    &-title{
      font-size: 22px;
    }


    &-row{
      border-color: #ffffff;

      &:first-child{
        padding-block-start: 0px;
      }


      &_title{
        font-size: 16px;

      }

      &_content{
        display: flex;
        align-items: center;
        gap: 2px;
        font-size: 16px;

        &.mobile{
          justify-content: end;
        }
      }
    }

    &-img{
      height: 50px;
      display: flex;
      justify-content: flex-end;
      width: fit-content;

    }

    &-top{
      align-items: center;
    }

    &-buttom{
      display: flex;
      justify-content: center;
    }

    &-buttom{
      gap: 4px;
    }

  }
}

.icon-btn.edit-btn{
  background-color: transparent;


  &:hover{
    background-color: #1c1b1b;
  }
}

.selection-btns{


  .icon-btn{
    background-color: transparent;



    &:hover{
      background-color: #383838;
    }
  }
}

.next-button-wrapper{

  @include for-bpoint-min-tablet{
    .regular-btn{
      font-size: 12px;
      padding: 10px;
    }

  }

  gap: 10px;

}
.bottom-txt{
  margin-block-end: 20px;
  font-size: 22px;
}

.accordion-header{
  font-size: 20px;
  margin-block-start: 5px;
}

.accordion-body{
  margin-inline-start: 10px;
  margin-inline-end: 10px;
  margin-block-start: 0px;

}

.note-txt{
  font-size: 14px;
}


