@import '../../styles/setup/mixins';
@import '../../styles/setup/variables';

.scrollbar {
  --scrollbar-thumb-color: #7a7a7a;
}


.page-container{
  .top{
      width: 100%;
  }

    .title{
      flex-direction: column;
    }
  }



.table-container{
  color: aliceblue;
  display: flex;
  justify-content: center;


  @include for-bpoint-tablet{
    display: none;
  }

  .styled-table{
    font-family: Babas-pro, sans-serif;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 25px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);


    .table-img{
      width: 100px;
    }

    & thead tr{
      background-color:  #454952;
      color: #ffffff;
      font-weight: 100;

      & th:first-child {
        border-top-left-radius: 10px;
      }

      & th:last-child {
        border-top-right-radius: 10px;
      }
    }

    & th, & td{
      padding: 12px 12px;
      text-align: center;
      letter-spacing: 3px;
    }

    & td {
      background-color: black;
    }

    .td-img{
      display: flex;
      justify-content: center;
    }

    & tbody tr{
      border-bottom: 1px solid #00A9FF;
    }


    & tbody tr:last-of-type {
      border-bottom: none;
    }

    & tr:last-child td:first-child{
      border-bottom-left-radius: 10px;
    }

    & tr:last-child td:last-child {
      border-bottom-right-radius: 10px;
    }


  }
}

.grid-container{
  display: none;

  @include for-bpoint-tablet{
    gap: 10px;
    display: grid;
  }
}



.card{

  @include for-bpoint-tablet{
    gap: 0px;
    background-color: black;
    margin-block-end: 0px;
  }

  &-content{
    @include for-bpoint-tablet{
      flex-direction: column;
      gap: 0px;
    }
  }



  &-img{
    @include for-bpoint-tablet{
      width: 120px;
    }
    img{
      // width: 70%;
      height:auto;

      @include for-bpoint-tablet{
        width: 100%;
      }
    }

  }
}

