@import '../../styles/setup/mixins';
@import '../../styles/setup/variables';

.scrollbar {
  --scrollbar-thumb-color: #7a7a7a;
}

.page-container{
  .top{
    width: 100%;

    .title{
      flex-direction: column;
    }
  }
}



.card{
  width: 100%;
  flex-direction: column;
  background-color: black;
  padding: 10px;
  gap: 10px;

  &-content{
    @include for-bpoint-tablet{
      flex-direction: column;
    }
  }

  &-top{
    height: 120px;
    margin-block-start: 20px;
  }

  &-img{
    img{
      width: 70%;
      height:auto;

      @include for-bpoint-tablet{
        width: 100%;
      }
    }


  }
}

