<ion-header> </ion-header>
<ion-content>
  <ng-scrollbar class="scrollbar" [autoHeightDisabled]="false">
  <div class="page-container style1 main-layout">
    <div class="top">
      <div class="btns-section">
          <button
            class="icon-btn"
            [ngClass]="{'active': measureType === MeasureType.METERS}"
            (click)="onSelectBtn(1)"
          >
            M
          </button>
          <button
            class="icon-btn"
            [ngClass]="{'active': measureType === MeasureType.FEET}"
            (click)="onSelectBtn(2)"
          >
            FT
          </button>
      </div>
      <div class="title">
        <span> configuration-list </span>
        <div class="search-container main-layout">
          <ion-searchbar show-clear-button="focus"></ion-searchbar>
        </div>
      </div>
    </div>

    <div class="body">
      <div class="middle">
          <!-- Table For Wide Screens -->
          <div class="table-container main-layout">
            <table class="styled-table">
              <thead>
                <tr>
                  <th *ngFor="let tableTitle of tableTitlesList">
                    {{tableTitle}}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let configuration of configurationsList">
                  <td>{{configuration.name}}</td>
                  <td class="td-img">
                    <div class="table-img">
                      <img [src]="configuration.imgUrl" alt="configuration-pic" />
                    </div>
                  </td>
                  <td>{{configuration.hexagon}}</td>
                  <td>{{configuration.rhombus}}</td>
                  <td>
                    {{configuration.measures.lengthFt | ftToM: measureType |
                    number : '1.0-2' }}{{' '}}{{measureType === MeasureType.METERS
                    ? 'M': 'FT'}}
                  </td>
                  <td>
                    {{configuration.measures.widthFt | ftToM: measureType | number
                    : '1.0-2' }}{{' '}}{{measureType === MeasureType.METERS ? 'M':
                    'FT'}}
                  </td>
                  <td>
                    {{configuration.measures.areaSqFt | sqftToSqm: measureType |
                    number : '1.0-0'}}{{' '}}{{measureType === MeasureType.METERS
                    ? 'SQM': 'SQFT'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Table For Mobile and Tablet -->
          <div class="grid-container main-layout">
            <div *ngFor="let configuration of configurationsList" class="card">
              <div class="card-top">
                <div class="card-img">
                  <img [src]="configuration.imgUrl" alt="configuration-pic" />
                </div>
                <div class="card-title">{{configuration.name}}</div>
              </div>
              <div class="card-content">
                <div class="card-row">
                  <span>Hexagon:</span>
                  <span>{{configuration.hexagon}}</span>
                </div>
                <div class="card-row">
                  <span>Rhombus:</span>
                  <span>{{configuration.rhombus}}</span>
                </div>
                <div class="card-row">
                  <span>Length:</span>
                  <span
                    >{{configuration.measures.lengthFt | ftToM: measureType |
                    number : '1.0-2' }}{{' '}}{{measureType === MeasureType.METERS
                    ? 'M': 'FT'}}</span
                  >
                </div>
                <div class="card-row">
                  <span>Width:</span>
                  <span
                    >{{configuration.measures.widthFt | ftToM: measureType |
                    number : '1.0-2' }}{{' '}}{{measureType === MeasureType.METERS
                    ? 'M': 'FT'}}</span
                  >
                </div>
                <div class="card-row">
                  <span>Area:</span>
                  <span
                    >{{configuration.measures.areaSqFt | sqftToSqm: measureType |
                    number : '1.0-0'}}{{' '}}{{measureType === MeasureType.METERS
                    ? 'SQM': 'SQFT'}}</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="buttom">
      <h1 *ngIf="!areConfigurationsFound">Couldn't Find Configuration(s)</h1>
    </div>
  </div>
</ng-scrollbar>


</ion-content>
