@import '../../../styles/setup/mixins';
@import '../../../styles/setup/variables';


//swiper style


.mySwiper{
  &.swiper{
    height: 100px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  padding: 10px 0;
  .swiper-wrapper{

    .swiper-slide{
      opacity: 0.4;

      &.swiper-slide-thumb-active {
        opacity: 1;
      }
      img{
        background-image: url('../../../../assets/imgs/environments/desert.jpg');

      }
    }
  }

}



.mySwiper2{
  &.swiper{
    height: 300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
  }
  .swiper-wrapper{
    width: 100%;
    .swiper-slide{
      background-size: cover;
      background-position: center;
      img{

      }
    }
  }

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper{
  img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Page style
.cloth-patterns-menu{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items:baseline;
  width: 100%;

  .menu-top{
    display: flex;
    flex-direction: column;
    gap: 11px;
    width: 100%;
    -webkit-margin-after: 20px;
    margin-block-end: 20px;
    align-items: baseline;


    h1{
      font-size: 30px;
      text-align: center;
      width: 100%;

    }
  }


  .menu-bottom{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block-start: 13px;
  }

}

.scrollbar {
  --scrollbar-thumb-color: #7a7a7a;
}

.cloth-patterns-container{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 100px));
  grid-gap: 11px;
  justify-items: center;

  @include for-bpoint-mobile{
    grid-template-columns: repeat(3, minmax(60px, 1fr));
  }

  .colth-pattern-link{
    cursor: pointer;

    img{
      border: 1px solid black;

      &:hover, &.selected{
        outline: 2px solid #9b9b9b;
        outline-offset: 4px;

      }

    }


  }

}
