
<div class="cloth-patterns-menu">
  <div class="menu-top">
    <button class="icon-btn" (click)="onClose()"><ion-icon name="close-outline"></ion-icon></button>
    <div class="environment-title">
      <img [src]="currEnvironment.imgUrl" alt="environment-img">
      <h1>{{currEnvironment.typeName}}</h1>
    </div>
    <h1>Choose Pattern For Side {{currSide}} </h1>
  </div>
  <div class="menu-body">
    <div class="slider-container">
      <div style="--swiper-navigation-color: #fff" class="swiper mySwiper2">
        <div class="swiper-wrapper">
          <div *ngFor="let url of clothPatternsUrls?.clothPatterns" class="swiper-slide">
            <img [src]="url" />
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <div *ngFor="let url of clothPatternsUrls?.forPdf; let i = index" class="swiper-slide">
            <img class="white-border" *ngIf="selectedPatternIndex === i" src="assets/imgs/environments/png-small/border2.png" alt="">
            <img (click)="onClothPatternLink(i)" [src]="url" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="menu-bottom">
    <div class="next-button-wrapper">
      <div (click)="onSaveBtn()" class="regular-btn"><span>Save</span></div>
    </div>
  </div>
</div>



