<div class="img-slider-container">
</div>

<div class="img-slider-banner">
  <div class="banner-content">
    <div class="banner-top">
    </div>
    <div class="banner-middle">
      <div class="main-title-wrapper">
        <h1 class="main-title">{{'ulcans' | uppercase}}</h1>
      </div>
      <div class="txt-wrapper">
        <span class="subtitle"> <span>U</span>ltra <span>L</span>ightweight <span>C</span>amouflage <span>N</span>et <span>S</span>ystem</span>
        <span class="subtitle"><br>The ability to conceal and protect forces against multi-spectral sensor threats.</span>
        <span class="subtitle"><br>This app is meant to guide you step by step on how to choose and use your ULCANS system</span>
      </div>
    </div>
    <div class="banner-buttom">
        <ng-content></ng-content>
    </div>
  </div>
</div>
