<ion-header>
</ion-header>

<ion-content>
  <ng-scrollbar class="scrollbar" [autoHeightDisabled]="false">
    <div class="page-container style1 main-layout">
      <div class="top">
        <div class="title">
          <span>
            critical-considerations
          </span>
        </div>
      </div>
      <div class="middle">
        <app-accordion>
          <app-accordion-item>
            <div accordionItemHeader>
              example header 1
            </div>
            <div accordionItemBody>
              example body 1
            </div>
          </app-accordion-item>
          <app-accordion-item>
            <div accordionItemHeader>
              example header 2
            </div>
            <div accordionItemBody>
              example body 2
            </div>
          </app-accordion-item>
          <app-accordion-item>
            <div accordionItemHeader>
              example header 3
            </div>
            <div accordionItemBody>
              example body 3
            </div>
          </app-accordion-item>
          <app-accordion-item>
            <div accordionItemHeader>
              example header 4
            </div>
            <div accordionItemBody>
              example body 4
            </div>
          </app-accordion-item>
        </app-accordion>
      </div>
    </div>
  </ng-scrollbar>
</ion-content>
