@import "../../styles/setup/mixins";
@import "../../styles/setup/variables";

.btns-container{
  display: flex;
  gap: 10px;

  .regular-btn{
    font-family: Babas-pro, sans-serif;

  }


  @include for-bpoint-mobile{
    flex-direction: column;
  }
}
