<ion-header>
</ion-header>

<ion-content>
  <ng-scrollbar class="scrollbar">
    <div *ngIf="usfulInformationCategoryData$ | async as usfulInformationCategoryData" class="page-container style1 main-layout">
      <div class="top">
        <div class="title">
          {{usfulInformationCategoryData.mainTitle}}
        </div>
      </div>
      <div class="middle">
        <div class="next-button-wrapper">
          <button
              *ngFor="let subCategory of usfulInformationCategoryData.subCategories"
              (click)="onSubCategory(subCategory.subRouterLink)"
              routerLinkActive="is-active"
              class="regular-btn">
              <span>{{subCategory.subTitle}}</span>
          </button>
        </div>
      </div>
    </div>
  </ng-scrollbar>
</ion-content>

