@import "../setup/mixins";
@import "../setup/variables";


app-accordion{

  margin-block-end: 20px;


  .data-content{
    padding-block-end: 20px;
    background-color: #322929;
    color: #bebebe;
    padding: 10px;
    border-radius: 5px;
    padding-inline-start: 25px;

     .accordion{
        padding-inline-start: 20px;
     }

    .main-data{
      display: flex;
      flex-direction: column;

      .img-box{
        width: 100%;
        display: flex;
        justify-content: center;

        .img-container{

          width: 450px;

          @include for-bpoint-tablet{
            width: 100%;
          }

        }
      }


    }

    .text-container{
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-size: 26px;
      margin-block-end: 20px;
    }
  }
}
