app-accordion{
  max-width: 850px;
  margin-block-end: 20px;

  .data-content{
    padding-block-end: 20px;

    .text-container{
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
}
