@import '../setup/mixins';
@import '../setup/variables';

*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  
  font-size: 1rem;
  scroll-behavior: smooth;
  font-family: Babas-pro, sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}



body{
  margin: 0;
  line-height: 1.5;
  padding: 4em 1em;

  &.overflow-hidden{
    overflow: hidden;
  }
}

li{
  list-style: none;
}

ul{
  padding: 0;
  margin: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
}

img{
 max-width: 100%;
 height: 100%;
}


.main-layout{
  max-width: 95%;
  margin: 0 auto;
}

div{
  margin: 0;
}

a{
  box-shadow: none;
  text-decoration: none;
}

.main-btn{
  font-size: 26px;
  text-transform: uppercase;
  background-color: #0091FF;
  border-radius: 0px 0px 0px 0px;
  line-height: 1;
  padding: 12px 12px;
  fill: #fff;
  text-align: center;
  transition: all .3s;
  cursor: pointer;
  font-family: Babas-pro, sans-serif;

  &:hover{
    background-color: #fff;
  }


   span{
    text-decoration: inherit;
   }

   .main-btn-txt{
    display: inline-block;
   }

   @include for-bpoint-tablet{
    font-size: 22px;
}
}

a.main-btn{
  display: inline-block;
  transform: skew(-17deg);

  .main-btn-content{
    display: inline-block;
    transform: skew(17deg);
  }
}


.icon-btn{
  height: 35px;
  width: 35px;
  font-size: 18px;
  padding: 7px;
  border-radius: 2px;
  color: white;
  background-color: black;

  &:hover{
    background-color: #2a2727
  }

  &.active{
        background-color: #00A9FF;
  }

}

.regular-btn{
  font-family: Light-font, sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
  border-radius: 30px;
  font-weight: 700;
  color: white;
  padding: 17px;
  background-color: #00a9ff;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    color: black;
    background-color: white;
  }

  span{
    display: flex;
    align-items: center;
  }


}


main{
  overflow: hidden;
}

.next-button-wrapper{
  display: flex;
  justify-content: center;
  padding: 5px;

  .regular-btn{
    width: fit-content;
    font-size: 20px;


  @include for-bpoint-min-tablet{
    font-size: 14px;
  }
  }
}

.disabled{
  background-color: #96a7b0;
  color: #1f1f1f;
  cursor:not-allowed;
}

.poles-note{
  font-size: 16px;
}

.note{
  font-size: 20px;
  text-align: center;
}







