@import "../setup/variables";
@import "../setup/mixins";

*,
*::before,
*::after{
  box-sizing: border-box;
}

html{
  font-size: 1rem;
  scroll-behavior: smooth;
  font-family: Roboto-Regular, sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

body{
  margin: 0;

  &.overflow-hidden{
    overflow: hidden;
  }
}

li{
  list-style: none;
}

ul{
  padding: 0;
  margin: 0%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
  margin: 0;
}

img{
  width: inherit;
}


.main-layout{
  max-width: 95%;
  margin: 0 auto;
}

div{
  margin: 0;
}

a{
  box-shadow: none;
  text-decoration: none;
}

.main-btn{
  font-size: 1em;
  text-transform: uppercase;
  background-color: #0091FF;
  border-radius: 0px 0px 0px 0px;
  line-height: 1;
  padding: 12px 12px;
  fill: #fff;
  text-align: center;
  transition: all .3s;
  cursor: pointer;
  font-family: Light-font, sans-serif;

  &:hover{
    background-color: #fff;
  }


   span{
    text-decoration: inherit;
   }

   .main-btn-txt{
    display: inline-block;
   }
}

a.main-btn{
  display: inline-block;
  transform: skew(-17deg);

  .main-btn-content{
    display: inline-block;
    transform: skew(17deg);
  }
}

.icon-btn{
  background-color: black;
  color: white;
  font-size: 22px;
  padding: 7px;
  border-radius: 2px;

  &:hover{
    background-color: #1f1f1f
  }
}

.regular-btn{
  background-color: #00A9FF;
  color: #ffffff;
  font-size: 1.6em;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0px 0px 0px 0px;
  min-height: 47px;
  padding: 15px 30px;

  span{
    display: flex;
    align-items: center;
  }

}


main{
  overflow: hidden;
}









