@import '../setup/mixins';
@import '../setup/variables';

.page-container{
  display: flex;
  flex-direction: column;

  &.style1{
    align-items: center;
    justify-content: center;
    font-family: Light-font, sans-serif;
    gap: 30px;
    -webkit-margin-before: 30px;
    margin-block-start: 30px;
    margin-block-end: 30px;
  }


  .top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .title{
      display: flex;
      align-self: center;
      font-size: 40px;
      font-family: Babas-pro, sans-serif;
      text-align: center;
      gap: 5px;
      margin-block-end: 20px;

      @include for-bpoint-min-tablet{
        font-size: 30px;
        margin-block-end: 20px;
        flex-direction: column;
      }

    }
  }

  .middle{
    width: 100%;
  }

  .buttom{
    margin-block-end: 30px;
  }
}


.btns-section{
display: flex;
gap: 5px;
margin-block-start: 20px;
margin-block-end: 20px;

}

.search-container{
  width: 100%;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 1rem;
  justify-items: center;


  @include for-bpoint-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}


