@import "../../styles/setup/mixins";
@import "../../styles/setup/variables";

.scrollbar {
  --scrollbar-thumb-color: #7a7a7a;
}

.trash-icon{
  position: absolute;
  bottom: 3px;
  left: 3px;

  .icon-btn{
    border-radius: 10px;
  }
}

.page{
  &-container{
    .top{
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

  }
}

.single-link{
    position: relative;
    cursor: pointer;
    background-color: black;
    border-radius: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: rgb(0 0 0 / 20%) 0px 3px 1px -2px, rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;

    @include for-bpoint-mobile{
      width: 100%;
      height: fit-content;
    }

    .img-wrapper{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 127px;

      img{
        max-width: 100%;
        max-height: 100%;
        display: block;
        border-style: none;
      }
    }

    .title{
      width: 100%;
      font-size: 20px;
      color: #ffff;
      margin: 0 0 20px;
      display: flex;
      margin-inline-start: 10px;
      justify-content: center;
      padding: 0 7px ;
      height: 80px;


    @include for-bpoint-mobile{
      height: fit-content;
    }


      span{
        height: fit-content;
        display: flex;
        align-items: center;
      }

      &.not-in-list{
        font-size: 20px;
        line-height: 1.3;

        @include for-bpoint-mobile{
          width: 100%;
          height: 162px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
}

app-main-btn:hover{
  color: black;
}

.footer-container{
  display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 20px;
    margin-block-start: 20px;
}
