<ion-header>
</ion-header>
<ion-content >
  <ng-scrollbar  class="scrollbar" [autoHeightDisabled]="false">
  <div class="tc-container main-layout">
    <div class="tc-top">
      <h1>Choose an asset to camouflage</h1>
      <div class="search-container main-layout">
        <ion-searchbar show-clear-button="focus"></ion-searchbar>
      </div>
    </div>
    <div class="tc-middle">
      <div class="assets-container main-layout">
        <a class="single-link" *ngFor="let asset of assetsList" (click)="onAssetLink(asset.id)">
          <div class="img-wrapper">
            <img [src]="asset.assetImgUrl">
          </div>
          <div class="title">
            {{asset.name}}
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </a>
      </div>
    </div>
    <div class="tc-buttom">
      <h1 *ngIf="!areAssetsFound">Couldn't Find Asset(s)</h1>
    </div>
  </div>
</ng-scrollbar>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer-container main-layout">
      <app-main-btn routerLink="/configurations/configuration-calaulator">Your asset is not in the list?</app-main-btn>
    </div>
  </ion-toolbar>
</ion-footer>
