<div class="environments-container">
  <div class="grid-wrapper">
    <div class="environment-link"
      *ngFor="let environment of environments"
      (click)="onEnvironmentLink(environment.id)"
      >
      <div class="img-wrapper">
        <img class="white-border" *ngIf="environmentIdSelection === environment.id" src="assets/imgs/environments/png-small/border4.png" alt="">
        <img [src]="environment.imgUrlowResolution" alt="">
      </div>
      <div >
        <h3 class="environments-btns-title">{{environment.typeName}}</h3>
      </div>
    </div>
  </div>
</div>
