<ion-header>
</ion-header>
<ion-content>
  <ng-scrollbar class="scrollbar">
    <div class="main-layout">
      <div class="page-container">
        <div class="top">
          <div class="btns-section">
            <button title="Back" (click)="onBack()" class="icon-btn"><ion-icon name="arrow-back-outline"></ion-icon></button>
          </div>
          <div class="top">
            <div class="title">
             Environment And Type
            </div>
          </div>
        </div>
        <div class="page-row">
          <div class="top">
            <div class="title">
              Choose Your Environment:
            </div>
          </div>
          <div class="cards-container">
            <div class="card">
              <div class="card-content">
                <div class="card-top">
                  <div class="card-title">
                    Side A:
                  </div>
                </div>
                <div class="card-body">
                  <app-environments-radio-btn [currUserSelection]="currUserSelection" [currSide]="'A'"></app-environments-radio-btn>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-content">
                <div class="card-top">
                  <div class="card-title">
                    Side B:
                  </div>
                </div>
                <div class="card-body">
                  <app-environments-radio-btn [currSide]="'B'"></app-environments-radio-btn>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-row">
          <div class="top">
            <div class="title">
              Choose Your System Type:
            </div>
          </div>
          <div class="cards-container">
            <div class="card system-card">
              <div class="card-content">
                <div class="card-body system-card-body">
                  <app-types-select-btn></app-types-select-btn>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</ng-scrollbar>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <div class="footer-container main-layout">
      <div class="next-button-wrapper">
        <!-- <button type="submit"  class="regular-btn"><span class="mobile-buttom">{{'continue' | uppercase}}</span><ion-icon name="arrow-forward-outline"></ion-icon></button> -->
          <button (click)="onAddToYourSelections()" class="regular-btn" [ngClass]="{'disabled': isDiabled$ | async}" > <span>Add To Your Selections</span><ion-icon name="add-outline"></ion-icon> </button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>


