<ion-header>
</ion-header>
<ion-content>

<ion-content>
<ng-scrollbar class="scrollbar">
  <div class="environment-page">
    <div class="card-container main-layout">
      <div class="card-inline-start">
        <ion-buttons slot="start">
          <div class="btns-section">
            <button  title="Back" (click)="onBack()" class="icon-btn"><ion-icon name="arrow-back-outline"></ion-icon></button>
            <button  title="Equipment Information" class="icon-btn"><ion-icon name="information-outline"></ion-icon></button>
            <button title="Camouflage Instructions" class="icon-btn"><ion-icon name="book-outline"></ion-icon></button>
            <button routerLink="/configurations" title="Configurations List" class="icon-btn"><ion-icon name="prism-outline"></ion-icon></button>
          </div>
        </ion-buttons>
        <div class="card-title sub-title">
          <div>
            <h1>Choose Your Environment:</h1>
            <h1>Side A:</h1>
          </div>
        </div>
        <div class="environments-container">
          <div class="grid-wrapper">
            <div class="environment-link"
                *ngFor="let environment of environments"
                (click)="onEnvironmentLinkSideA(environment.id)"
                >
              <div class="img-wrapper">
                <img [ngClass]="{'selected': sideASelection === environment.id}" [src]="environment.imgUrl" alt="">
              </div>
              <div class="title">
                <h3>{{environment.typeName}}</h3>
              </div>
            </div>
          </div>
        </div>
         <div class="card-title sub-title">
          <div>
            <h1>Choose Your Environment:</h1>
            <h1>Side B:</h1>
          </div>
        </div>
        <div class="environments-container">
          <div class="grid-wrapper">
            <div class="environment-link"
                *ngFor="let environment of environments"
                (click)="onEnvironmentLinkSideB(environment.id)"
                >
              <div class="img-wrapper">
                <img [ngClass]="{'selected': sideBSelection === environment.id}" [src]="environment.imgUrl" alt="">
              </div>
              <div class="title">
                <h3>{{environment.typeName}}</h3>
              </div>
            </div>
          </div>
          </div>
      </div>
      <div class="card-inline-end">
        <div class="card-title sub-title">
          <div>
            <h1>Choose System Type:</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-scrollbar>
</ion-content>
