@import "./styles/setup/mixins";
@import "./styles/setup/variables";

.backdrop{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  opacity: 0.3;
  z-index: 900;
  overflow: hidden;
}

app-user-selections-menu{
  position: fixed;
    top: 0;
    left: 0;
    min-width: 300px;
    width: 80%;
    background: #FFFFFF;
    height: 100%;
    z-index: 1000;

    @include for-bpoint-mobile{
      width: 90%;
    }
}

app-cloth-patterns-menu{
  position: fixed;
  top: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;

}


