<ion-app>
  <app-user-selections-menu
    *ngIf="isUserSelectionsMenuOpen$ | async"
    [@slidesFromLeft]></app-user-selections-menu>

  <app-cloth-patterns-menu
    *ngIf="isClothPatternsMenuOpen$ | async" >

  </app-cloth-patterns-menu>
  <div (click)="onBackdropClicked(false)" *ngIf="(isUserSelectionsMenuOpen$ | async) || (isClothPatternsMenuOpen$ | async) " class="backdrop"></div>
  <ion-header>
    <app-header></app-header>
  </ion-header>

  <ion-content>
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>

<!-- [animation]="myCustomPageTransition" -->

