<div class="tables-container" hidden>
  <table class="table1" id="basic-table">
    <thead>
    <tr class="row table1">
      <th class="cell logo" id="logo">
        <img src="assets/imgs/logo/logo.jpeg" alt="logo">
      </th>
    </tr>
  </thead>
  </table>

  <table class="table" id="basic-table">
    <thead>
    <tr class="row header blue">
      <th class="cell" *ngFor="let headerTitle of tableHeaderTitles">{{headerTitle}}</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row" *ngFor="let userSelection of assetsForDisplay" >
        <td class="cell" id="imgEl">
            <img [src]="userSelection.configuratoin!.imgUrl" alt="">
            <h3>{{userSelection.configuratoin!.name}}</h3>
        </td>
        <td class="cell">{{userSelection.asset!.name}}</td>
        <td class="cell">
          <h3>{{userSelection.sideA.environment.typeName}}</h3>
        </td>
        <td class="cell" id="imgElSideA">
          <img [src]="userSelection.sideA.clothPatternUrl" alt="pattern">
        </td>
        <td class="cell" >
          <h3>{{userSelection.sideB.environment.typeName}}</h3>
        </td>
        <td class="cell" id="imgElSideB">
          <img [src]="userSelection.sideB.clothPatternUrl" alt="pattern">
        </td>
        <td class="cell">
          <h3>{{userSelection.ulcansType.name}}</h3>
        </td>
    </tr>
    </tbody>
  </table>
</div>

<button class="regular-btn" (click)="onDownloadPdf()">onDownload Pdf</button>
