.table{
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

.table1{
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}



.row{
    background: #f6f6f6;

  &:nth-of-type(odd){
    background: #e9e9e9;
  }

  &.table1{
    background-color: white;
  }

  &.header{
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
  }

  &.green{
    background: #27ae60;
  }

  &.blue{
    background: #2980b9
  }
}



.cell{
  text-align: inherit;
  color: black;
  font-weight: 300;
  width: fit-content;

  &.logo{

    img{
      height: 60px;
    }
  }


  img{
    height: 40px;
  }

}

