.tab{

  .tab-item-headers{
    width: 100%;
    display: flex;
    gap: 5px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: Babas-pro, sans-serif;
    box-shadow: inset 0px -3px 0 0px #838383;;


    &.none{
      display: none;
    }
  }



  .tab-item-header{
    padding: 10px;


    &:hover{
      color: #0091ff;
    }


    &.selected{

      color: #0091ff;
      border-bottom: 3px solid #0091ff;


    }
  }

  .tab-item-bodies{
    padding-top: 20px;
  }


}
