<ion-header>
</ion-header>

<ion-content>
  <ng-scrollbar class="scrollbar">
  <div class="page-container style1 main-layout">
    <div class="top">
      <div class="title">
        Folding Up System
      </div>
    </div>
    <div class="middle">
      <app-accordion>
        <app-accordion-item *ngFor="let settingUpData of foldingUpSystemData$ | async">
          <div accordionItemHeader>
            {{settingUpData.title | uppercase}}
          </div>
          <div class="data-content" *ngFor="let dataContent of settingUpData.content" accordionItemBody>
            <div class="main-data">
              <div class="text-container">
                <p *ngFor="let text of dataContent.text">{{text}}</p>
              </div>
              <div class="img-box">
                <div *ngIf="dataContent.imgUrl !== ''" class="img-container">
                  <img [src]="dataContent.imgUrl" alt="dataImg">
                </div>
              </div>
            </div>
            <video *ngIf="dataContent.videoUrl !== 'none'" width="100%" controls>
              <source [src]="dataContent.videoUrl" type="video/mp4">
              Your browser does not support HTML video.
            </video>
          </div>
        </app-accordion-item>
      </app-accordion>
    </div>
  </div>
  </ng-scrollbar>
</ion-content>
