// wide screen design
.scrollbar {
  --scrollbar-thumb-color: #7a7a7a;
}
::ng-deep {

  .page-container{
    position: relative;

      .por-txt{
        color: #bebebe;
        font-size: 26px;
        padding: 10px;
        border-radius: 5px;
        padding-block-end: 20px;

        &.from-usful-info{
          display: block;
        }

        &.none{
          display: none;;
        }

      }



    .wide-screen{
      .middle{
        background-color: transparent;
      }

      .select-box{
        flex-direction: column;
      }
    }
  }

  .select-box {
    padding: 20px;
    border-radius: 3px;
    position: relative;
    gap: 25px;


      .type-box{
        background-color: transparent;
      }

      .select-box-item{
        background-color: #2e2e2e;
        border-radius: 3px;
      }

      .select-box-content{
        padding: 13px;
      }
    }
      .table-container{

        h1{
          font-size: 18px;
          margin-block-start: 20px;
          }
          .styled-table{
            tbody{
              tr{
                border-bottom: 1px solid #454952;

                td.td-img{
                  align-items: baseline;
                }

              }
            }

          }

          .table-img{
            width: 80px;
            height: 70px;
          }
    }

}

.expand-icon{
  cursor: pointer;
}




// mobile design
.card{
  background-color: black;
  padding-block-start: 3px;
  position: relative;

  .card-row{
    border-color: rgb(193, 193, 193);
    padding: 5px;
  }

  .card-row_content.img-content{
    align-items: flex-start;
  }

  .card-img{
    width: 80px;
  }


.side-title{
  border: none;
  font-size: 20px;
  justify-content: center;
  margin-top: 12px;
  padding: 0px;


  &.sideB{
    margin-top: 25px;
  }
}
}






