<ion-header>
</ion-header>

<ion-content>
  <ng-scrollbar class="scrollbar" [autoHeightDisabled]="false">
    <div class="page-container style1 main-layout">
      <div class="top">
        <div class="title">
          Equipment Description
        </div>
      </div>
      <div class="middle">
        <app-accordion [initialOpenIndex]="indexesForAccordion.index">
          <app-accordion-item *ngFor="let equipmentDescriptionData of equipmentDescriptionData$ | async">
            <div accordionItemHeader>
              {{equipmentDescriptionData.title | uppercase}}
            </div>
            <div class="data-content" *ngFor="let dataContent of equipmentDescriptionData.content" accordionItemBody>
              <div class="main-data">
                <div class="text-container">
                  <p *ngFor="let text of dataContent.text">{{text}}</p>
                </div>
                <div class="img-box">
                  <div *ngIf="dataContent.imgUrl !== ''" class="img-container">
                    <img [src]="dataContent.imgUrl" alt="dataImg">
                  </div>
                </div>
              </div>
              <video *ngIf="dataContent.videoUrl !== 'none'" width="100%" controls>
                <source [src]="dataContent.videoUrl" type="video/mp4">
                Your browser does not support HTML video.
              </video>
              <app-accordion [initialOpenIndex]="indexesForAccordion.innerIndex">
                <app-accordion-item *ngFor="let subdata of dataContent.subData">
                  <div accordionItemHeader>
                    {{subdata.title | uppercase}}
                  </div>
                  <div class="data-content" *ngFor="let dataContent of subdata.content" accordionItemBody>
                    <div class="main-data">
                      <div class="text-container">
                        <p *ngFor="let text of dataContent.text">{{text}}</p>
                      </div>
                      <div class="img-box">
                        <div *ngIf="dataContent.imgUrl !== ''" class="img-container">
                          <img [src]="dataContent.imgUrl" alt="dataImg">
                        </div>
                      </div>
                    </div>
                  </div>
                </app-accordion-item>
              </app-accordion>
            </div>
          </app-accordion-item>
        </app-accordion>
      </div>
    </div>
  </ng-scrollbar>
</ion-content>
