<ion-header>
</ion-header>
<ion-content scroll-y="false">
  <ng-scrollbar class="scrollbar">
    <div class="home-container">
      <app-welcome-txt >
        <app-config-selections-btns [displayMode]="appConfigBtnsMode.medium" *ngIf="(showHomPageAppConfigBtns$ | async); else elseBlock"></app-config-selections-btns>
        <ng-template #elseBlock>
          <app-main-btn routerLink={{startBtn.btnLink}}>{{startBtn.btnTitle}}</app-main-btn>
        </ng-template>
      </app-welcome-txt>
    </div>
  </ng-scrollbar>
</ion-content>
<ion-footer class="main-layout">
  <span class="privacy-policy-box"><a href="https://fibrotexusa.com/privacy">privacy policy</a></span>
</ion-footer>


