<ion-header>
</ion-header>
<ion-content scroll-y="false">
    <div class="home-container">
      <div class="img-slider-container">
        <div class="img-slider-banner">
          <div class="banner-content">
            <div class="banner-top">

            </div>
            <div class="banner-middle">
              <div class="main-title-wrapper">
                <h1 class="main-title">{{'ulcans' | uppercase}}</h1>
              </div>
              <div class="txt-wrapper">
                <span class="subtitle">ULCANS is a camouflage system, </span>
                <span class="subtitle">for stationary vehicles, weapons systems, tactical operation centers, personnel, and other tactical equipment.</span>
                <span class="subtitle"><br> ULCANS is designed for rapid deployment and recovery and is operator repairable and maintainable.</span>
              </div>
            </div>
            <div class="banner-buttom">
              <app-main-btn routerLink="/configurations/typical-configurations">Start Using ULCNS</app-main-btn>
            </div>
          </div>
        </div>
      </div>
    </div>
</ion-content>
